body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
.logoTitle {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #334272;
}

.navbar {
    border-bottom: 1px solid #e5e9f2;
    padding: 10px 20px 10px 0px;
    position: relative;
    background-image: url("./assets/background_setion1.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar,
.itemsNavbar a,
.navBtn {
    font-family: "Inter", sans-serif;
}

.logoTitle {
    font-size: 28px;
    margin: 0;
}

.no-decoration {
    text-decoration: none;
}

.menuLogo {
    display: flex;
    align-items: center;
}

.menuLogo img {
    max-width: 75px;
}

.itemsNavbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.itemsNavbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.itemsNavbar a {
    font-weight: 500;
    text-decoration: none;
    color: #283357;
    font-size: 18px;
}

.itemsNavbar a:hover {
    opacity: 0.8;
}

.navBtn {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: 0.15s ease;
}

.loginBtn {
    padding: 7px 22px;
    border-radius: 10px;
    background: #fff;
    color: #1d1d1d;
    border: 2px solid #c0c8d6;
    box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.04);
}

.loginBtn:hover {
    background: #f5f8ff;
}

.registerBtn {
    padding: 10px 24px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(180deg, #66b3ff 0%, #2f8dff 100%);
    color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}

.mobileMenu {
    display: none;
}

.mobileMenuBtn {
    display: none;
}

@media (max-width: 700px) {
    .itemsNavbar ul {
        display: none;
    }

    .menuLogo{
        margin-left: 40px;
    }

    .mobileMenu {
        display: flex;
        align-items: center;
    }

    .mobileMenuBtn {
        display: flex;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        padding: 4px;
        cursor: pointer;
    }

    .loginBtn,
    .registerBtn {
        padding: 4px 10px;
        font-size: 14px;
    }

    .menuLogo img {
        width: 40px;
    }

    .logoTitle {
        font-size: 18px;
    }

    .navbar {
        padding: 6px 10px;
    }
}